.program-cards__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  list-style: none;
}

.program-cards__item {
  padding: 23px 20px;
  margin-bottom: 18px;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: $bg-grey;
}

.program-cards__title {
  margin: 0;
  margin-left: 10px;

  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  text-transform: uppercase;

  color: $title-color;
}

.program-cards__description {
  margin: 0;
  margin-bottom: 18px;
  padding-top: 21px;
  padding-bottom: 24px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  border-bottom: 1px solid rgba(#000000, 0.1);
}

.program-cards__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;

  &::after {
    content: "";

    margin-left: 14px;

    display: block;

    width: 24px;
    height: 11px;

    background-image: url("../img/svg/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: -5px 0;
  }

  &:hover::after,
  &:focus::after {
    background-position: 0 0;
  }

  &:active {
    opacity: 0.3;
  }

}

.program-cards__catalog-name {
  margin-left: 0.2em;
}

@media (min-width: $tablet-width) {
  .program-cards {
    margin-bottom: 17px;
  }

  .program-cards__item {
    padding-top: 78px;
    padding-bottom: 60px;
    padding-left: 53px;
    padding-right: 280px;
    margin-bottom: 30px;
  }

  .program-cards__logo {
    position: absolute;
    right: 0;
  }

  .program-cards__title {
    margin-left: 0;
    font-size: 36px;
    line-height: 37px;
  }

  .program-cards__description {
    padding-top: 25px;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 24px;

    border: none;

    &--pro {
      width: 340px;
    }
  }

  .program-cards__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 25px;
    }
  }
}
