.program-cards {
  background-color: $bg-grey;
}

.program-cards__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.program-cards__title {
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  text-transform: uppercase;

  color: $title-color;
}

.program-cards__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
}
