.page-header__inner {
  border-bottom: 1px solid #e6e6e6;
}

.page-header__wrapper {
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;

  width: 320px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo[href] {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__menu-toggle {
  padding: 0;
  margin: 0;
  margin-right: 3px;

  display: block;
  width: 18px;
  height: 18px;

  border: none;
  background-color: transparent;

  &--close::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;

    background-image: url("../img/svg/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--open {
    width: 24px;
    height: 18px;
  }

  &--open::before {
    content: "";
    display: block;
    width: 24px;
    height: 18px;

    background-image: url("../img/svg/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    margin: 0 auto;

    padding-top: 31px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 36px;

    width: 768px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__inner {
    margin-right: 40px;
    border: none;
    flex-shrink: 0;
  }

  .page-header__wrapper {
    margin: 0;
    padding: 0;

    width: auto;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;

    padding-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1300px;
    padding-top: 62px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
