.additional-goods {
  padding-top: 27px;
  margin-bottom: 40px;
}

.additional-goods__title {
  margin: 0;

  flex-shrink: 0;
  max-width: 230px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  color: $title-color;
}

.additional-goods__title-wrapper {
  margin-bottom: 34px;

  display: flex;

  @include title-stroke;
}

.additional-goods__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 17px;

  border-top: 1px solid #cdcdcd;
}

.additional-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
