@import "../../variables";

.special-offer {
  min-height: 289px;

  background-image: url("../../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.special-offer__description {
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
}
