.page-footer__wrapper {
  background-color: $bg-grey;
}

.page-footer__inner {
  padding-top: 38px;
  padding-bottom: 22px;

  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  margin-bottom: 29px;

  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    padding-top: 95px;
    padding-bottom: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__inner {
<<<<<<< HEAD
    padding-top: 70px;
=======
    padding-top: 60px;
>>>>>>> module4-task1
  }
}
