.questionnaire-form__button {
  margin-top: 20px;
  margin-bottom: 21px;
  width: 100%;
}

.questionnaire-form__required {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;

  color: #444444;
}
