.questionnaire__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  width: 270px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
}
