@import "../../variables";

.comments__title {
  font-family: "OsWald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  color: $title-color;
}

.comments__text-area {
  width: 100%;

  font-family: "OsWald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: #444444;
}
