@import "../../variables";

.questionnaire__subtitle {
  font-family: "OsWald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
}
